<% include ../partials/boilerplate %>

<p>Will have 311 info</p>
<p>Complaint Type:  <%= nyc.complaint_type %></p>
<p>Description:  <%= nyc.descriptor %></p>
<p>Address: <%= nyc.incident_address %></p>
<p>Agency: <%= nyc.agency_name %></p>

<% include ../partials/end %>
