<% include ./partials/boilerplate %>

<h1>Civic Solutions</h1>
<h4>A simple and intuitive platform to effectively relay and manage neighborhood concerns</h4>

<a href='/auth/login'>Login</a>
<a href='/auth/register'>Register</a>


<% include ./partials/end %>
