<% include ./partials/boilerplate %>

<h1><%= message %></h1>
<a href='/issues/issue-add'>Enter the App</a>
<a href='/auth/login'>Login</a>
<a href='/auth/register'>Register</a>

<% include ./partials/end %>
