<% include ./partials/homeBoilerplate %>

<div class="homePage">

<h1>Civic Solutions</h1>
<h3>A simple and intuitive platform to effectively relay and manage neighborhood concerns</h3>

</div>

<div class="mainHome">
<a href='/auth/login'>Login</a>
<a href='/auth/register'>Register</a>

<% include ./partials/end %>
