<% include ../partials/boilerplate %>
<p>HI</p>


<% data.forEach(issue => { %>
  <h3><%= issue.description %></h3>
  <a href="/issues/<%= issue.id%>">See issue details</a>

<% }); %>

<% include ../partials/end %>
