<% include ../partials/boilerplate %>

<form method="POST" action="/issues/<%= data.id %>?_method=PUT">
  <input type="text" name="description" value='<%= data.description %>'/>
  <input type="text" name="address" value='<%= data.address %>'/>
  <input type="submit" value="Edit it!"/>
</form>

<% include ../partials/end %>
