<% include ../partials/boilerplate %>



<% data.forEach(issue => { %>
  <h3><%= issue.description %></h3>
  <a href="/issues/<%= issue.id%>">See issue details</a>
<% }); %>


<a href="/issues/add">Generate new request</a>


<% include ../partials/end %>
